server {
    listen       9621;
    listen       [::]:9621;

    root /app/dist/;

    # 隐藏版本号
    server_tokens off;

    # k8s探测
    location = /probe {
        return 200 "ok";
    }

    rewrite ^/sailor-extension-plugins/(.*) /$1;

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}